<!-- Add Person Modal -->
  <div id="addPersonModal" class="modal">
    <div class="modal-content">
      <h4>Add a person</h4>

      <div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="form_add_person_name" type="text" class="validate">
              <label for="form_add_person_name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="form_add_person_email" type="text" class="validate">
              <label for="form_add_person_email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="form_add_person_phone" type="text" class="validate">
              <label for="form_add_person_phone">Phone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select id="form_add_person_organisation" class="validate">
                <option class="unselectable" disabled selected>Choose organisation</option>
              </select>
              <label for="form_add_person_organisation">Organisation</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a id="addPersonSubmit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
